<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fendo.dao.IncomeDao">
	<!-- <resultMap type="IncomeVo" id="IncomeItemList"> <id property="id" column="id"/> 
		<result property=""/> </resultMap> -->

	<!-- 查询收入列表显示 -->
	<select id="findAllType" resultType="com.fendo.entity.Income">
		select * from t_income_cost order by
		creat_time desc,state asc
	</select>
	<!-- 根据时间查询信息 -->
	<select id="findAllTypebytime" resultType="com.fendo.entity.Income">
		select * from t_income_cost where creat_time like #{time}
	</select>
	<select id="findAllTypebyarea" resultType="com.fendo.entity.Income">
		select * from t_income_cost where district_id=#{area}
	</select>
	<!-- 添加员工信息 -->
	<insert id="toAddIncome" parameterType="com.fendo.entity.Income" useGeneratedKeys="true" keyProperty="id">
		insert into
		t_income_cost(id,title,sum,name,district_id,state,creat_time,income_name,income_name1,income_name2,income_name3,income_name4,digest,digest1,digest2,digest3,digest4,money,money1,money2,money3,money4,times,remark,entry_person)
		values(null,#{title},#{sum},#{name},#{area},0,now(),#{income_name},#{income_name1},#{income_name2},#{income_name3},#{income_name4},#{digest},#{digest1},#{digest2},#{digest3},#{digest4},#{money},#{money1},#{money2},#{money3},#{money4},#{times},#{remark},#{entry_person})
	</insert>
	<!-- 通过id查询 -->
	<select id="findById1" resultType="com.fendo.entity.Income"
		parameterType="java.lang.Long">
		select * from t_income_cost
		where id=#{id}
	</select>
	<!-- 修改通过状态type -->
	<update id="updatePasssr" parameterType="com.fendo.entity.Income">
		update t_income_cost set
		state = 1,auditor=#{auditor},role=#{role} where id=#{id}
	</update>
	<delete id="deletePasssr" parameterType="com.fendo.entity.Income">
	 delete from t_income_cost where id=#{id}
	</delete>
	<!--  -->
	<update id="toUpdateIncome" parameterType="com.fendo.entity.Income">
		UPDATE t_income_cost SET district_id=#{area},name=#{name},title=#{title},times=#{times},income_name=#{income_name},income_name1=#{income_name1},income_name2=#{income_name2},
		income_name3=#{income_name3},income_name4=#{income_name4},digest=#{digest},digest1=#{digest1},digest2=#{digest2},digest3=#{digest3},digest4=#{digest4},
		money=#{money},money1=#{money1},money2=#{money2},money3=#{money3},money4=#{money4},sum=#{sum},remark=#{remark}
		WHERE id=#{id}
	</update>
	<!-- 多条件查询 -->
	<select id="findBySelective" resultType="com.fendo.entity.Income">
		select * from t_income_cost
		<where>
			<if test="district_id != null and district_id != ''">
				and district_id=#{district_id}
			</if>
			<if test="sum != null and sum != ''">
				and sum like concat("%",#{sum},"%")
			</if>
			<if test="digest != null and digest != ''">
				and digest like concat("%",#{digest},"%")
			</if>
			<if test="creat_time != null and creat_time != ''">
				and date_format(creat_time,'%Y-%m-%d')=#{creat_time,jdbcType=DATE}
			</if>
		</where>
		order by creat_time desc,state asc
	</select>
</mapper>