<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fendo.dao.ReceiptDao">

	<insert id="insert" parameterType="com.fendo.entity.Receipt">
		INSERT INTO t_receipt
		(id,income_id,file_url)
		VALUES(null,#{income_id},#{file_url})
	</insert>

	<select id="selectFileUrlByIncomeId" resultType="java.lang.String">
		select file_url
		from t_receipt
		where income_id =#{income_id}
	</select>

</mapper>